extends layout

block content
  main
    header
        h2 #{title}
    form(class='form-horizontal', method='post', action='/handle_create')
        section(class='form-container title-form')
            div(class='item-title')
                h4 素材信息 
            div(class='form-group')
                label(class='col-sm-2') 素材ID
                div(class='col-sm-10')
                    input(type='text', class='form-control', name='api-id', placeholder='素材ID')
            div(class='form-group')
                label(class='col-sm-2') 素材名
                div(class='col-sm-10')
                    input(type='text', class='form-control', name='api-name', placeholder='素材名')

        section(class='form-container' id='load-form')
            div(class='item-title')
                h4 加载变量
            div(class='form-group')
                label(class='col-sm-2') 变量1
                div(class='col-sm-10')
                    input(type='text', class='form-control', name='variable', placeholder='变量名')
        a(role="button" id='delete-load-form' class='btn btn-warning btn-delete') 删除变量
        a(role="button" id='add-load-form' class='btn btn-warning btn-add') 添加变量

        section(class='form-container' id='img-form')     
            div(class='img-item')
                div(class='item-title')
                    h4 图片1
                div(class='form-group')
                    label(class='col-sm-2') 变量名
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='img-name', placeholder='图片变量名')
                div(class='form-group')
                    label(class='col-sm-2') url
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='img-url', placeholder='图片url')
        a(role="button" id='delete-img-form' class='btn btn-warning btn-delete') 删除图片
        a(role="button" id='add-img-form' class='btn btn-warning btn-add') 添加图片


        section(class='form-container' id='copy-form')     
            div(class='copy-item')
                div(class='item-title')
                    h4 图片1
                div(class='form-group')
                    label(class='col-sm-2') 复制方法
                    div(class='col-sm-10')
                        select(class='form-control' name='copy-method')
                            option(value="copyresample") copyresample
                            option(value="copy") copy
                div(class='form-group')
                    label(class='col-sm-2') 目标图
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='dest-img', placeholder='目标图')
                div(class='form-group')
                    label(class='col-sm-2') 源图
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='src-img', placeholder='源图')
                div(class='form-group')
                    label(class='col-sm-2') 目标x坐标
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='dest-x', placeholder='x坐标')
                div(class='form-group')
                    label(class='col-sm-2') 目标y坐标
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='dest-y', placeholder='y坐标')
                div(class='form-group')
                    label(class='col-sm-2') 源x坐标
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='src-x', placeholder='x坐标')
                div(class='form-group')
                    label(class='col-sm-2') 源y坐标
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='src-y', placeholder='y坐标')
                div(class='form-group toggle-attr')
                    label(class='col-sm-2') 目标宽度
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='dest-width', placeholder='目标宽度')
                div(class='form-group toggle-attr')
                    label(class='col-sm-2') 目标高度
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='dest-height', placeholder='目标高度')
                div(class='form-group')
                    label(class='col-sm-2') 原宽度
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='src-width', placeholder='原宽度')
                div(class='form-group')
                    label(class='col-sm-2') 原高度
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='src-height', placeholder='原高度')
        a(role="button" id='delete-copy-form' class='btn btn-warning btn-delete') 删除复制
        a(role="button" id='add-copy-form' class='btn btn-warning btn-add') 添加复制



        section(class='form-container' id='text-form')       
            div(class='text-item')
                div(class='item-title')
                    h4 文字1
                div(class='form-group')
                    label(class='col-sm-2') 目标图
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='text-img', placeholder='目标图')
                div(class='form-group')
                    label(class='col-sm-2') 文字大小
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='font-size', placeholder='文字大小')
                div(class='form-group')
                    label(class='col-sm-2') 文字角度
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='font-angle', placeholder='文字角度')
                div(class='form-group')
                    label(class='col-sm-2') x坐标
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='text-x', placeholder='x坐标')
                div(class='form-group')
                    label(class='col-sm-2') y坐标
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='text-y', placeholder='y坐标')
                div(class='form-group')
                    label(class='col-sm-2') 颜色
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='text-color', placeholder='颜色')
                div(class='form-group')
                    label(class='col-sm-2') 字体
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='font-family', placeholder='字体')
                div(class='form-group')
                    label(class='col-sm-2') 变量名
                    div(class='col-sm-10')
                        input(type='text', class='form-control', name='text-name', placeholder='变量名')
        a(role="button" id='delete-text-form' class='btn btn-warning btn-delete') 删除文字
        a(role="button" id='add-text-form' class='btn btn-warning btn-add') 添加文字
        section(class='form-container' id='submit')
            button(type='submit' class='btn btn-default btn-submit') 生成代码
        

  
