html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

main {
  width: 35%;
  margin: auto; }

.btn-add {
  float: right; }

@media (max-width: 1270px) {
  main {
    width: 50%;
    margin: auto; } }

@media (max-width: 950px) {
  main {
    width: 70%;
    margin: auto; } }

.form-container {
  margin-top: 70px;
  overflow: hidden; }

#submit {
  text-align: center; }

.btn-submit {
  width: 40%; }
